# Requirements to dev the source code
# - last checked/updated: 2026-01-06 (c.f. HA 2025.12.5)

# requirements (dependencies) are in manifest.json
# - pip list | grep -E 'ramses|serial'

  aiousbwatcher         >= 1.1.1                 # as per: manifest.json latest: 1.1.1
  pyserial-asyncio-fast >= 0.16                  # as per: manifest.json latest: 0.16
  ramses-rf             == 0.53.0                # as per: manifest.json latest:
  pycares               == 4.9.0                 # pinned for compatibility of ha_cc
                                                 # (ha_cc aiodns 3.5.0 not yet compatible with pycares 5.x)

# libraries required for development (lint/type/test)...
# - pip list | grep -E 'pre-commit|ruff|mypy|types-|voluptuous'

# used for development (linting)
    pre-commit >= 4.3.0                          # latest: 4.3.0
    ruff >= 0.13.0                               # latest: 0.13.0 See also: pre-commit-config.yaml

# used for development (typing)
    mypy >= 1.18.0                               # latest: 1.18.2
    voluptuous >= 0.15.2                         # latest: 0.15.2 =HA
