# Requirements to dev the source code
# - last checked/updated: 2026-02-19 (c.f. HA 2026.1.3)

# requirements (dependencies) are in manifest.json
# - pip list | grep -E 'ramses|serial'

  aiousbwatcher         >= 1.1.1                 # as per: manifest.json latest: 1.1.1
  pyserial-asyncio-fast >= 0.16                  # as per: manifest.json latest: 0.16
  ramses-rf             == 0.54.3                # as per: manifest.json latest:
  pycares               == 4.9.0                 # ha_cc 2026.2: aiodns 4.0.0: pycares==5.0.1=latest
                                                 # (ha_cc 2025.12: aiodns 3.5.0 was not yet compatible with pycares 5.x)

# libraries required for development (lint/type/test)...
# - pip list | grep -E 'prek|ruff|mypy|types-|voluptuous'

# used for development (linting)
    prek == 0.3.2                                # same as HA core 2026.1.2
    ruff >= 0.13.0                               # latest: 0.15.0 See also: pre-commit-config.yaml

# used for development (typing)
    mypy >= 1.18.0                               # latest: 1.18.2
    voluptuous >= 0.15.2                         # latest: 0.15.2 = HA
